.banner {
	color: white;
	object-fit: contain;
	height: 448px;
	margin-bottom: 15px;
}

.banner_container {
	margin-left: 30px;
	padding-top: 140px;
	height: 190px;
}

.banner_title {
	font-size: 3rem;
	font-weight: 800;
	padding-bottom: 0.3rem;
}

.banner_description {
	width: 45rem;
	line-height: 1.3;
	padding-top: 1rem;
	font-size: 1.2rem;
	max-width: 360px;
	height: 80px;
}
.banner_btn {
	cursor: pointer;
	color: var(--color-2);
	outline: none;
	border: none;
	font-weight: 700;
	border-radius: 0.2vw;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-right: 1rem;
	padding-top: 0.5rem;
	background-color: rgba(63, 104, 101, 0.5);
	padding-bottom: 0.5rem;
}

.banner_btn:hover {
	color: white;
	background-color: var(--color-1);
	transition: all 0.2s;
}

.banner_btn:active,
.banner_btn:focus {
	outline: none;
}

.banner_fadeBottom {
	height: 16.1rem;
	background-image: linear-gradient(
		180deg,
		transparent,
		rgba(37, 37, 37, 0.61),
		#111
	);
}
