
.categoryContainer {
    margin: 40px 20px;
    background-color: var(--vita-dark-blue);
    padding: 0 10px 40px 10px;
    border-radius: 6px;
}
.categoryContainerHeading {
    color: whitesmoke;
    margin: 0;
    padding: 10px;
    font-size: 40px;
}
.categoryRow {
    display: flex;
    flex-wrap: wrap;
}

.categoryColumn {
    flex: 16.66%;
    max-width: 16.66%;
    padding: 0 6px;
}

.category {
    width: 100%;
    margin-top: 12px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    border-radius: 4px;
}

.categoryImage {
    width: 100%;
    border-radius: 4px;
    opacity: 0.65;
}

.categoryName {
    position: absolute;
    top: 80%;
    left: 50%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 20px;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-out;
}

.category:hover {
    transform: translateX(8px);
    /* transform: scale(1.06); */
}
.categoryImage:hover {
    opacity: 0.85;
}

@media screen and (max-width: 900px) {
    .categoryColumn {
        flex: 32%;
        max-width: 32%;
    }
    .categoryName {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .categoryColumn {
        flex: 50%;
        max-width: 50%;
    }
}

    