.header {
	position: fixed;
	width: 100%;
	height: 60px;
	padding: 15px 20px 0 10px;
	display: flex;
	justify-content: space-between;
	background-color: var(--vita-dark-blue);
	z-index: 20;
}

.mainContent {
	height: 60px;
}

.logo {
	width: 80px;
	height: 70px;
	position: relative;
	top: -20px;
	cursor: pointer;
}

.openbtn {
	background: linear-gradient(to right, var(--vita-bright-blue), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: 25px;
}

.navbar {
	margin-top: 60px;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--vita-dark-blue);
	overflow-x: hidden;
	transition: 0.4s;
}

.navbarLinkContainer {
	margin: 30px auto;
}

.navItem {
	display: block;
	text-decoration: none;
	margin: 15px 5px auto;
	padding: 10px 0 10px 15px;
	background-color: var(--vita-dark-blue);
	text-align: left;
	background: linear-gradient(to right, var(--vita-bright-blue), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: 18px;
	font-weight: bold;
	line-height: 2;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	letter-spacing: 0.08em;
	transition: all 0.2s ease-out;
	cursor: pointer;
}

.navItem:hover {
	transform: translateX(5px);
}

.icon {
	position: relative;
	font-size: 20px;
	top: 0;
	width: 40px;
	text-align: center;
	background: linear-gradient(to right, var(--vita-bright-blue), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 900px) {
	.header {
		padding: 15px 40px 0 40px;
	}
	.openbtn {
		display: none;
	}
	.navbar {
		width: 100%;
		margin: 0;
		position: static;
		overflow-y: hidden;
	}
	.navbarLinkContainer {
		text-align: center;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
	}
	.navbarLink {
		display: inline-block;
		margin: 0;
		padding: 5px 10px 0 15px;
	}
	.navItem {
		text-align: center;
		margin: 0;
		padding: 10px 0;
		border: none;
		font-size: 15px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
