@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('//fonts.googleapis.com/css?family=Cookie');

:root { 
    --vita-pink: #eb2b9b;
    --vita-light-pink: #eb4ca8;
    --vita-orange: #fa761d;
    --vita-light-orange: #ee833b;
    --vita-light-green: #13e069;
    --vita-bright-blue: #63bdf1;
    --vita-dark-grey: #b191c08c;
    --vita-light-blue: #0f2947;
    --vita-dark-blue: #061a31;
    --vita-light-grey: #a2aebb;
    --easing: 0.25s;
}

* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: rgb(65, 65, 65);
}
a:hover {
	text-decoration: none;
	color: #757575;
}
a:active {
	color: grey;
}

.page-not-found {
    width: 100vw;
    height: 90vh;
    background: linear-gradient(to right, var(--vita-dark-blue),var(--vita-pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-not-found div {
    padding: 20vh 0;
}

.page-not-found p {
    font-size: 7vw;
    width: 60%;
    text-align: center;
    margin: auto;
    color: white;
    font-weight: bold;
}   

