@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('//fonts.googleapis.com/css?family=Cookie');

:root {
	--bg-color: #0c0c0c;
	--color-3: #cdedff;
	--color-1: #0899ba;
	--color-2: #63bdf1;
	--vita-orange: #fa761d;
	--vita-light-orange: #ee833b;
	--vita-light-green: #5ae795;
	--vita-bright-blue: #63bdf1;
	--vita-dark-grey: #b191c08c;
	--vita-light-blue: #0f2947;
	--vita-dark-blue: #061a31;
	--vita-light-grey: #a2aebb;
	--input-bg: #dad8d809;
	--easing: 0.25s;
}
* {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	color: white;

	/* box-sizing: border-box; */
}

body {
	background: var(--bg-color);
	/* margin: 0;
	padding: 0; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a {
	text-decoration: none;
	color: rgb(65, 65, 65);
}
a:hover {
	text-decoration: none;
	color: #757575;
}
a:active {
	color: grey;
}

.page-not-found {
	width: 100vw;
	height: 90vh;
	background: linear-gradient(
		to right,
		var(--vita-dark-blue),
		var(--vita-pink)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.page-not-found div {
	padding: 20vh 0;
}

.page-not-found p {
	font-size: 7vw;
	width: 60%;
	text-align: center;
	margin: auto;
	color: white;
	font-weight: bold;
}
