
.form-container {
    width: 300px;
    margin: 50px auto;
    background-color: rgb(218, 153, 255);
    padding: 20px;
}

.form-container div {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}