.row {
	color: white;
	margin-left: 1rem;
}
.row > h2 {
	width: 250px;
	padding-left: 5px;
	background: linear-gradient(to right, var(--color-2), white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.row_posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 1rem;
}

.row_posters::-webkit-scrollbar {
	display: none;
}

.row_poster {
	object-fit: contain;
	width: 100%;
	max-height: 100px;
	margin-right: 1rem;
	transition: transform 450ms;
}

.row_poster:hover {
	transform: scale(1.08);
	opacity: 1;
}

.row_posterLarge {
	max-height: 250px;
}
