:root {
    --player-color: rgba(26, 29, 26, 0.25);
    --progress-color: #eb2b9b;
    --progressbar-color: rgba(177, 145, 192, 0.55);
    --text-color: #a2aebb;
    /* --video-player-width: 800px; */
    --easing: 0.25s;
}

.videoPlayer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 0;
    margin: 10px;
    position: relative;
    display: inline-flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.835);
    overflow: hidden;
}
.videoPlayer video {
    max-width: var(--video-player-width);
    margin: auto;
    /* 
    TODO: 
    add media queries to video 
    */
    min-width: 800px;
    min-height: 500px;
    max-width: 1000px;
    max-height: 600px;
}

.video-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(26, 29, 26, 0.5);
    display: flex;
    flex-direction: column;
    z-index: 10;
    transform: translateY(0);
    transition: all ease 0.25s;
}

.videoPlayer.show-controls .video-info {
    transform: translateY(0);
    transition: all ease 0.25s;
}

.videoPlayer.hide-controls .video-info {
    transform: translateY(90%);
}

.video-info .progress-bar {
    height: 4px;
    background-color: var(--progressbar-color);
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
}
.video-info .progress-bar .progress {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    margin: auto;
    background: linear-gradient(to right, #fa761d, #ff1e74);
    transition: all ease var(--easing);
}

.video-info .progress-bar:hover, .video-info .progress-bar .progress:hover {
    height: 5px;
}

.video-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.control-btn {
    font-size: 25px;
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    color: var(--text-color);
    outline: 0;
    transition: 0.3s ease;
    cursor: pointer;
}
.control-btn:hover {
    color: #ff1e74;
}
.time-control {
    display: flex;
    color: var(--text-color);
    font-size: 14px;
}
.time {
    color: var(--text-color);
    width: 64px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.start-time, .end-time {
    transition: 0.1s ease;
    color: var(--text-color);
}
.start-time:hover {
    color: #fa761d;
}
.end-time:hover {
    color: #ff1e74;
}
.time-slash {
    margin: 0 5px;
    font-size: 25px;
}
.left-side-controls, .playback-rate {
    display: flex;
    flex-direction: row;
    width: 30%;
    align-content: center;
    justify-content: space-between;
}
.playback-rate {
    width: 42%;
}
.volume-controls {
    color: var(--text-color);
    display: flex;
    align-items: center;
}
.playback-btn i {
    padding: 3px;
    font-size: 14px;
    color: var(--text-color);
    cursor: pointer;
    transition: all ease 0.2s;
}
.playback-value {
    padding: 10px 0;
    font-size: 16px;
    color: #ff1e74;
}
.playback-btn i:hover {
    color: #ff1e74;
}
.playback-meter {
    width: 40px;
    height: 40px;
    background-image: url('../../images/play50.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.playback-btn {
    display: flex;
    flex-direction: column;
}

.volume-progressbar {
    display: inline-flex;
    width: 100px;
    height: 4px;
    background-color: var(--progressbar-color);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
}
.volume-progressbar .volume-progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 100%;
    width: 50%;
    border-radius: 2px;
    background: linear-gradient(to right, #fa761d, #ff1e74);
    transition: all ease var(--easing);
}

.volume-progressbar:hover, .volume-progressbar .volume-progress:hover {
    height: 5px;
}

.center-controls {
    display: flex;
    width: 20%;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.skip-btn, .fullscreen-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all ease var(--easing);
    background-size: contain;
}
.skip-btn {
    margin-top: 5px;
}
#backward-skip {
    background-image: url('../../images/backN.png');
}
#forward-skip {
    background-image: url('../../images/forwN.png');
}
#backward-skip:hover {
    background-image: url('../../images/back.png');
}
#forward-skip:hover {
    background-image: url('../../images/forw.png');
}
.fullscreen-btn {
    background-image: url('../../images/fullscrN.png');
}
.fullscreen-btn:hover {
    background-image: url('../../images/fullscr.png');
}

.options-btn:hover {
    background-image: url('../../images/options.png');
}
.skip-btn>img{
    padding-top: 5px;
    width: 100%;
}

.right-side-controls {
    display: flex;
    width: 23%;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.vote-btn {
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.like, .dislike {
    color: rgb(60, 112, 255);
}

/* hiding the standard video controls in fullscreen*/
/* uncomment to fullscreen */
/* ::-webkit-media-controls {
    display:none !important;
} */